GARMIN/ACTIVITY
GARMIN/REMOTESW
GARMIN/ADJSTMTS
GARMIN/APPS
GARMIN/DEBUG
GARMIN/DEVICE.FIT
GARMIN/EVNTLOGS
GARMIN/GOALS
GARMIN/GPS
GARMIN/GarminDevice.xml
GARMIN/HMD
GARMIN/LOCATION
GARMIN/MLTSPORT
GARMIN/MONITOR
GARMIN/NEWFILES
GARMIN/RECORDS
GARMIN/SCHEDULE
GARMIN/SEGMENTS
GARMIN/SEG_LIST
GARMIN/SETTINGS
GARMIN/SPORTS
GARMIN/TEMPFIT
GARMIN/TOTALS
GARMIN/WORKOUTS
